.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}


.heder-button {
    width: 251px;
    height: 54px;
    background-color: #2E6EFF;
    border: none;
    color: white;
    border-radius: 8px;
}

.qweqwe {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-link {
    text-decoration: none;
    color: black;
}
.header-link:hover {
    cursor:pointer;
   color: #FE753F;
}
.a-abous{
    text-decoration: none;
    color: black;
}