.image-gallery-content{
    width: 650px;
    height: 433px;
    
}
.info_text{

}
.info_text_parent{
    display: flex;
    justify-content: left
    ;
    align-items:left
     ;
     margin-left: -600px;
   
}
.sliderchik{
    display: flex;
    justify-content: space-evenly;
}
.slider{
    margin-left: -705px;
}
