
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

  /*убираем иконку*/
  .Toastify__toast-body .Toastify__toast-icon {
    display: none !important;
  }

  /*меняем цвет загрузки*/
  .Toastify__progress-bar--bg, .Toastify__progress-bar {
    background: #2E6EFF !important;
  }

  /*вешаем стили на сам алерт*/
  .Toastify__toast-theme--light {
    border: 1px solid #d7d7d7;
  }